body {
  background-color: white;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  align-self: center;
  font-size:14px;
}

.colort{
  margin-left: 20%;
  margin-bottom: 1%;
}
.slider{
  margin-left: 20%;
}
.title{
  color:blueviolet;
  font-size: 30px;  
  margin-bottom: 1%;
  margin-left: 20%;
}
.subtitle{
  margin-bottom: 3%;
  margin-left: 20%;
  color:grey;
}
.value{
  margin-left: 20%;
  color:grey;
  font-size:12px;
}
.box1{
  margin-left: 20%;
}

